.navbar-conatiner{

    .navbar-content-item{
        display: inline-block;
    font-size: 14px;
    color: #515050;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 8px;
    position: relative;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    vertical-align: bottom;
    }
}